<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>a web page</title>

    <link rel="stylesheet" href="assets/css/styles.css">
  </head>

  <body>

    <h1>Some content value</h1>
    <p>
      <%= value %>
    </p>


    <form>
      <fieldset>
        <legend>text message</legend>
        <label for="message">message</label><br />
        <input id="message" type="text" name="message" value=""><br />
        <button type="submit">send message</button>
      </fieldset>
    </form>

    <output name="result"></output>

    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/socket-client.js"></script>

  </body>

</html>
