// all the variable values

$color           : hsla(180, 50%, 95, 1);
$backgroundColor : hsla(180, 50%, 25, 1);

$defaultFontFamily : Roboto, sans-serif;
$defaultFontSize   : 18px;
$defaultLineHeight : 1.5;
