/**
 * base styles
 *
 * @package responsive webdesign
 * @author Michael
 * @since 2017/08/16
 * @version 1.0.0
 */

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,500,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* colors     */


/* typography */


/* all devices fallback */

@media screen {
  html {
    font-family: "Asap Condensed", sans-serif;
    font-size: 16px;
    line-height: 1.2;
  }
}


/* xtra small devices */

@media screen and (max-width:575px) {
  html {
    font-family: "Asap Condensed", sans-serif;
    font-size: 22px;
    line-height: 1.2;
  }
}

@media screen and (min-width:576px) {
  html {
    font-family: "Asap Condensed", sans-serif;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width:768px) {
  html {
    font-family: "Asap Condensed", sans-serif;
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (min-width:992px) {
  html {
    font-family: "Asap Condensed", sans-serif;
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (min-width:1200px) {
  html {
    font-family: "Asap Condensed", sans-serif;
    font-size: 18px;
    line-height: 1.2;
  }
}

h1, h2, h3 {
  font-family: "Asap Condensed", sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  column-width: 16rem;
}


/* pictures */

figure {
  margin-left: 0;
  margin-right: 0;
}
