/**
 * d3 style collection
 *
 * @package data visualisation
 * @since 2017/08/09
 * @version 1.0.0
 * @author Michael
 */

@import url(fonts.css);
html {
  color: white;
  background-color: hsla(30, 40%, 10%, 1);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

html * {
  box-sizing: border-box;
}

svg {
  border-color: hsla(0, 100%, 100%, 0.25);
  border-width: 2px;
  border-style: dashed;
}

rect {
  fill: hsla(0, 100%, 100%, 1);
  stroke: hsla(0, 100%, 100%, 1);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  shape-rendering: geometricPrecision;
  color-rendering: optimizeQuality;
  transition-property: fill stroke;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

rect.active {
  fill: hsla(0, 100%, 50%, 1);
  stroke: hsla(0, 100%, 50%, 1);
}

text {
  font-family: sans-serif;
  fill: hsla(0, 100%, 100%, 0.8);
  stroke: none;
}

.axis path, .axis line {
  stroke: hsla(0, 100%, 100%, 1);
  stroke-width: 1px;
}

.axis text {
  font-size: 0.5rem;
}

.dot {
  stroke: hsla(30, 100%, 50%, 0.8);
  stroke-width: 5px;
  fill: none;
  r: 10px;
}

.line {
  stroke: hsla(30, 100%, 50%, 0.8);
  stroke-width: 5px;
  fill: none;
}

.values {
  font-size: 0.5rem;
  text-anchor: middle;
}

text.active {
  font-size: 2rem;
  font-weight: 900;
  fill: hsla(360, 100%, 50%, 1);
  /*transition: all 250ms ease-in-out;*/
  stroke: hsla(360, 100%, 0%, 1);
}

.graphical {
  fill: none;
  stroke: hsla(180, 100%, 50%, 0.15);
  stroke-width: 2px;
  stroke-dasharray: 1% 1% 4% 1%;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
}
