/**
 * some nice fonts
 *
 * @package data visualisation
 * @since 2017/08/07
 * @version 1.0.0
 * @author Michael
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Hanuman:400,700');
@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* fallback for all and old devices */

@media screen {
  html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.2;
  }
}


/* xtra small and small devices */

@media screen and (max-width: 767px) {
  html {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.2;
    /* 28.8px */
  }
}


/* medium and large devices */

@media screen and (min-width: 768px) {
  html {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2;
    /* 28.8px */
  }
}

.serif {
  font-family: Bitter, serif;
  line-height: 1.2;
}

.sans-serif {
  font-family: Roboto;
  line-height: 1.2;
}

.serif-2 {
  font-family: Karma, serif;
  line-height: 1.45;
  /* 34.8px */
}

.sans-serif-2 {
  font-family: "Passion One";
  line-height: 1.2;
}

.serif-3 {
  font-family: Hanuman;
  line-height: 1.2;
}

.handwriting {
  font-family: "Sedgwick Ave Display";
  line-height: 1.3;
}

.serif-4 {
  font-family: "Playfair Display";
  line-height: 1.4;
}
