/**
 * form component styles
 * @author Michael
 * @version 0.0.1
 */

button {
  background-color: lightsteelblue;
  border-radius: 6px;
}

/* classes */

.btn {
  border-radius: 6px;
}

.btn-primary, .btn-danger {
  font-family: Helvetica, Open Sans, sans-serif;
  font-size: 24px;
}

.btn.btn-danger {
  border-width: 4px;
  border-color: Orange
}

.btn-primary {
  background-color: Steelblue;
}

.btn-danger {
  background-color: Red;
}

/* id selectors */

#form-login {
  background-color: Yellow;
}

#form-login .btn-cancel {}