/**
 * LAYOUT STYLES
 */

/* BASE
   the root container must have a 100% height */
root,
html, body {
  display    : flex;
  flex-direction: column;
  height     : 100%;
  min-height : 100%;
}

/* LAYOUT */
.page          { display : flex;  width : 100%; flex-direction : column; height : 100%; min-height : 100%; }

.page-header   { display : block; width : 100%;                       flex-grow : 0; flex-shrink : 0; }
.page-content  { display : flex;  width : 100%; flex-direction : row; flex-grow : 1; flex-shrink : 0; }
.page-footer   { display : block; width : 100%;                       flex-grow : 0; flex-shrink : 0; }

.content-nav   { display : block; flex-basis : 25%;                  flex-grow : 1; flex-shrink : 1; }
.content-main  { display : block; flex-basis : 50%;                  flex-grow : 2; flex-shrink : 2; }
.content-aside { display : block; flex-basis : 25%;                  flex-grow : 1; flex-shrink : 1; }

/* MARGINS AND PADDINGS */
.page          { display : flex;  width : 100%; flex-direction : column; height : 100%; min-height : 100%; }

.page-header   { padding : 0.5rem; }
.page-content  { padding : 0; }
.page-footer   { padding : 0.5rem; }
.content-nav   { padding : 0.5rem; }
.content-main  { padding : 0.5rem; }
.content-aside { padding : 0.5rem; }

.content-nav > *  { margin : -0.5rem; }
