/**
 * Styles ...
 * @author Michael
 * @since 2018/07/24
 * @version 1.0.13
 */

html, body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

/* media query based responsive */

@media screen {
  td {
    background-color: lightcoral;
  }
}

@media screen and (max-width:480px) {
  td {
    background-color: lime;
  }
}

@media screen and (max-width:320px) {
  td {
    background-color: salmon;
  }
}