/**
 * some nice styles
 * @author michael
 * @version 1.0.0
 */

#svg {
  border-style: dashed;
  border-color: grey;
  border-width: 1px;
}

.circle, .new-circle {
  fill: lightsteelblue;
  stroke-dasharray: 5px;
  stroke: hsla(360, 100%, 100%, 0.8);
  stroke-width: 5px;
}